$icon-size: 60px;

body {
    padding-bottom: 100px; // Adjust as needed
}

.vc_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; // Adjust as needed

    .wpb_column {
        padding: 0 15px; // Adjust as needed
        width: 100%; // For full width on smaller screens

        @media (min-width: 576px) {
            width: 50%; // Two columns on small devices
        }

        @media (min-width: 768px) {
            width: 33.33%; // Three columns on medium devices
        }

        @media (min-width: 992px) {
            width: 25%; // Four columns on large devices
        }

        @media (min-width: 1200px) {
            width: 20%; // Five columns on extra large devices
        }

        .info-box-container {
            text-align: center;
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: inherit;
            }

            img {
                width: $icon-size;
                height: $icon-size;
                margin-bottom: 4px; // Adjust as needed
            }

            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 1.2;
                color: #333;
                margin: 0;
            }
        }
    }
}

// Footer
$charcoal-gray: #333; // Define charcoal gray color

.footerSection {
    background-color: $charcoal-gray; // Apply charcoal gray background color
    padding: 20px 0; // Adjust padding as needed
    color: white; // Set text color to white or any desired color

    .container {
        max-width: 1200px; // Adjust container width as needed
        margin: 0 auto; // Center the container
    }

    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // Two columns layout, adjust as needed
        grid-gap: 20px; // Adjust gap between grid items as needed
    }

    .col-md-6 {
        width: 100%; // Set column width to 100%
        padding: 0 15px; // Adjust column padding as needed

        .row {
            display: flex;
            justify-content: space-between;
        }

        .col-sm-5,
        .col-sm-7,
        .col-sm-4,
        .col-sm-8 {
            width: 48%; // Adjust column width as needed
        }
    }

    .footerNavHeading {
        font-size: 16px;
        margin: 0;
        line-height: 23px;
        padding-top: 5px;
    }

    .topFeatures,
    .productList,
    .supportList {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px; // Adjust margin between list items as needed
        }

        a {
            color: inherit; // Inherit text color from parent
            text-decoration: none;
        }
    }

    .connectWithUs {
        .footerSocialIcons {
            display: flex;

            a {
                margin-right: 10px; // Adjust margin between social icons as needed
            }
        }
    }

    .contactUsList {
        li {
            margin-bottom: 10px; // Adjust margin between contact list items as needed
        }
    }
}
.footerSection{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}