<footer>
    <div class="footerSection">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-5">
                            <h3 style="font-size: 16px; margin: 0; line-height: 23px; padding-top: 5px;" class="footerNavHeading">Product</h3>
                            <ul class="productList">
                                <!-- <li >Product</li> -->
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#selIndustry">Product
                                        tour</a>

                                </li>

                                <li>
                                    <a href="/customers/">Customers</a>
                                </li>
                                <li>
                                    <a href="/contactUs/">Contact us</a>
                                </li>
                                <li>
                                    <a href="https://blog.appointy.com/" target="_blank">Blog</a>
                                </li>
                                <li>
                                    <a href="/pricing/">Pricing</a>
                                </li>
                                <li>
                                    <a href="https://business.appointy.com/account/register/?RFP=FOOTER"><strong>Signup</strong></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-7">
                            <h3 style="font-size: 16px; margin: 0; line-height: 23px; padding-top: 5px;" class="footerNavHeading">Features</h3>
                            <ul class="topFeatures">
                                <!-- <li class="footerNavHeading">Features</li> -->
                                <li>
                                    <a href="/online-appointment-scheduling-software/#schedule">Schedule online</a>

                                </li>

                                <li>
                                    <a href="/online-appointment-scheduling-software/#increaseProductivity">Increase
                                        productivity</a>
                                </li>
                                <li>
                                    <a href="/online-appointment-scheduling-software/#attract">Attract customers</a>
                                </li>
                                <li>
                                    <a href="/online-appointment-scheduling-software/#retainCustomer">Retain
                                        customers</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 style="font-size: 16px; margin: 0; line-height: 23px; padding-top: 5px;" class="footerNavHeading">Support</h3>
                            <div>
                                <ul class="supportList">
                                    <li>
                                        <a target="_blank" href="https://help.appointy.com/home">Help</a>

                                    </li>
                                    <li>
                                        <a target="_blank" href="https://selecttime.appointy.com/support">Screen
                                            sharing</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.appointy.com/hc/en-us/articles/900001791683-Appointy-Affiliate-Program?itm_source=appointy_footer&amp;itm_medium=link_affiliate_program_footer&amp;itm_campaign=affiliate_program_website&amp;itm_term=default&amp;itm_content=default">Affiliate
                                            program</a>
                                    </li>

                                </ul>
                            </div>
                            <h3 style="font-size: 16px; margin: 0; line-height: 23px; padding-top: 5px;" class="footerNavHeading">Connect with us</h3>
                            <div class="connectWithUs">
                                <!-- <li class="footerNavHeading">Connect with us</li> -->
                                <div class="footerSocialIcons">
                                    <a href="https://www.facebook.com/appointy" rel="nofollow" target="_blank" alt="facebook" aria-label="facebook icon">
                                        <div class="webIcon websiteIcons iconSize32 iconFb32 iconSize32Footer">
                                        </div>
                                    </a>
                                    <a href="https://twitter.com/appointy" rel="nofollow" target="_blank" alt="twitter" aria-label="twitter icon">
                                        <div class="webIcon websiteIcons iconSize32 iconTwitter32 iconSize32Footer">
                                        </div>
                                    </a>

                                    <a href="https://www.linkedin.com/company/appointy-global/" rel="nofollow" target="_blank" alt="linkedin" aria-label="linkedin icon">
                                        <div class="webIcon websiteIcons iconSize32 iconLinkedin32 iconSize32Footer">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <h3 style="font-size: 16px; margin: 0; line-height: 23px; padding-top: 5px;" class="footerNavHeading">Contact Us</h3>
                            <ul id="contactusId" class="contactUsList">
                                <!-- <li class="footerNavHeading">Contact Us</li> -->
                                <li>
                                    <a href="/contactUs/">
                                        <strong>Appointy Software Inc.,</strong><br>

                                        16192 Coastal Highway<br>
                                        Lewes, Delaware 19958<br>
                                        USA
                                    </a>
                                </li>

                                <li id="spacer-for-li">
                                    <a href="mailto:contact@appointy.com">
                                        <div class="webIcon websiteIcons iconSize22 iconEmail22 iconSize32Footer">
                                        </div>
                                        contact@appointy.com
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.appointy.com/appointy-privacy-policy/">Privacy policy</a>
                                </li>
                                <li>
                                    <a href="https://www.appointy.com/business-terms-of-service/">Terms of use</a>
                                </li>
                                <li>
                                    <a href="https://www.appointy.com/appointy-gdpr/">GDPR</a>
                                </li>
                                <li>
                                    <a href="https://www.appointy.com/end-user-agreement/">End User Agreement</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>